<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="OutfitterTest_Target">
    <packages>
      <package name="com.services.outfittertest.*"/>
    </packages>
  </test> 
  <test thread-count="5" name="SimilarTest_Target">
    <packages>
      <package name="com.services.similartest.*"/>
    </packages>
  </test>
</suite> <!-- Suite -->
